.header {
  height: 120px;
  background-color: #DDD;
}

.sidebar {
  width: 20%;
  float: left;
  background-color: blueviolet;
}

.main {
  margin-left: 22%;
}

.wrapper::after {
  content: '';
  display: block;
  clear: left;
}

.footer {
  height: 70px;
  background-color: black;
  color: #FFF;