@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.wrapper {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 240ms;
}

.wrapper:hover {
  background-color: rgb(209, 209, 209);
}

.wrapper:hover .box .card {
  transform: translate(50px, -50px);
  background-color: rgb(255,255,255,0.659);
}

.box {
  position: relative;
  transform: rotate(-30deg) skew(25deg) scale(0.7);
  display: inline-block;
  box-shadow: -4px 4px 14px rgba(0,0,0,0.3);
  border-radius: 7px;
  background-color: #f2f2f2;
}

.card {
  padding: 10px 10px 6px 10px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 7px;
  transition: 220ms;
}

.card img {
  width: 200px;
  height: auto;
}

.card .title {
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 992px) {
  .wrapper {
    grid-column: span 3;
  }
}

@media (max-width: 600px) {
  .wrapper {
    grid-column: span 3;
  }

  .box {
    transform: rotate(-30deg) skew(25deg) scale(0.55);
  }
}