body {
  margin: 0px;
}

.weekly-item {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #EEE;
  padding: 15px 5px;
}

.weekly-item .number {
  margin: 0px 7px;
}

.weekly-item .info {
  font-size: 15px;
  margin: 0px 7px;
  flex-grow: 1;
}

.weekly-item .singer {
  font-size: 11px;
  color: #999;
}

.weekly-item .view-count {
  margin: 0px 5px;
  font-size: 11px;
  color: #999;
}